---
layout: splash
entries_layout: grid

feature_row:
  - image_path: /assets/images/logo_transparent.png
    alt: "MegaWattPuur logo"
    title: "Wie zijn wij?"
    url: "/over-MegaWattPuur/"
  - image_path: /assets/images/brighton_energy_cooperanten_voor_PV_en_WT.gif
    alt: "Brighton energy cooperanten voor PV en WT"
    title: "meedoen?"
    url: "/meedoen/"
  - image_path: /assets/images/logo_REScoop_be-small.png
    alt: "REScoop.be logo"
    title: "REScoop?"
    url: "/wat-is-een-rescoop/"
---

<div class="notice--info">

  <h1>Welkom bij MegaWattPuur. </h1>

  <p>MegaWattPuur is een Wase REScoop die investeert in hernieuwbare energie en
  energie besparende maatregelen.</p>

  <p>Hiermee willen we meewerken aan het klimaat neutraal maken van het
  Waasland.</p>

</div>

{% include feature_row %}


<div class="archive">
<section class="taxonomy__section">
<div class="entries-grid">
<div class="grid__item">
<a href="/nieuws" class="btn btn--primary">bekijk alle berichten</a>
</div>
{% for post in site.posts limit:3 %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</div>
</section>
</div>
