---
layout: collection
entries_layout: grid

feature_row:
  - image_path: /assets/images/logo_transparent.png
    alt: "MegaWattPuur logo"
    title: "Wie zijn wij?"
    url: "/over-MegaWattPuur/"
  - image_path: /assets/images/brighton_energy_cooperanten_voor_PV_en_WT.gif
    alt: "Brighton energy cooperanten voor PV en WT"
    title: "meedoen?"
    url: "/meedoen/"
  - image_path: /assets/images/logo_REScoop_Vlaanderen-small.png
    alt: "REScoop.be logo"
    title: "REScoop?"
    url: "/wat-is-een-rescoop/"
---

<div class="notice">

  <h1>Welkom bij MegaWattPuur</h1>

  <p>MegaWattPuur is een Wase REScoop die investeert in hernieuwbare energie en
  energie besparende maatregelen.</p>

  <p>Momenteel zijn we met 196 coöperanten, hebben we samen 1241 aandelen en zijn er verschillende projecten gerealiseerd of aan de gang.</p>

  <h2>Projecten</h2>

  <p>We zijn op zoek naar cooperanten, mensen die door het kopen van minstens
  een aandeel van 125 euro mede-eigenaar worden van onze volgende installaties.</p>

  <p><a href="http://aandelen.megawattpuur.be" class="btn btn--success">Koop hier aandelen van MegaWattPuur cvso.</a></p>

</div>


<h1>recente berichten</h1>

<div class="entries-grid">
{% for post in site.posts limit:4 %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</div>

<h2>.</h2>

{% include feature_row %}
